如果在做機器學習時，有些欄位是object，就可以使用這些方法去做運算

In [4]:
#one-hot-encoding
import pandas as pd
name = ['John','Jason','Jenny','Jay','Jay']
df_data = pd.DataFrame(name)
print(df_data)
#以上是基本的建立資料
one_hot_data = pd.get_dummies(df_data) 
#Pandas裡面有get_dummies函數，可以直接進行One-Hot Encoding
pd.DataFrame(one_hot_data)

       0
0   John
1  Jason
2  Jenny
3    Jay
4    Jay

   0_Jason  0_Jay  0_Jenny  0_John
0        0      0        0       1
1        1      0        0       0
2        0      0        1       0
3        0      1        0       0
4        0      1        0       0

In [2]:
import pandas as pd
name = ['John','Jason','Jenny','Jay','Jay']
df_data = pd.DataFrame(name)
print(df_data)
#以上是基本的建立資料
from sklearn.preprocessing import LabelEncoder #導入LabelEncoder工具
df_data[0] = LabelEncoder().fit_transform(df_data[0])
#LabelEncoder()只能鎖定一行，所以要特別標註是哪行
df_data

       0
0   John
1  Jason
2  Jenny
3    Jay
4    Jay

   0
0  3
1  0
2  2
3  1
4  1